services:
  free-flats-bot:
    build: .
    container_name: free-flats-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Europe/Minsk
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
    volumes:
      # чтобы сохранялось состояние между перезапусками
      - ./state:/app/state
      # если хотите сохранять скачанные PDF
      - downloads:/app/downloads

volumes:
  downloads:
